.skill-card {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.skill-html {
  background-color: rgba(182, 27, 0, .5);
}

.skill-css {
  background-color: rgba(0, 20, 99, 0.5);
}

.skill-js {
  background-color: rgba(255, 247, 91, 0.5);
  color: #000;
}

.skill-jquery {
  background-color: rgba(39, 183, 255, 0.5);
}

.skill-bootstrap {
  background-color: rgba(150, 69, 255, 0.5);
}

.skill-python {
  background-color: rgba(0, 52, 107, 0.5);
}

.skill-django {
  background-color: rgba(9, 82, 41, 0.5);
}

.skill-postgresql {
  background-color: rgba(55, 155, 255, 0.5);
}

.skill-git {
  background-color: rgba(255, 108, 64, 0.5);
}

.skill-github {
  background-color: rgba(84, 89, 95, 0.5);
}

